/*

!/.gitignore

!/readme.org

!/code
/code/*
!/code/*.docx
!/code/*.py

!/code/Durel_Enzo_Project_?
/code/Durel_Enzo_Project_?/*
!/code/Durel_Enzo_Project_?/*.py

!/code/Durel_Enzo_Project_?/Problem_?
/code/Durel_Enzo_Project_?/Problem_?/*
!/code/Durel_Enzo_Project_?/Problem_?/*.c
!/code/Durel_Enzo_Project_?/Problem_?/*.sbatch
!/code/Durel_Enzo_Project_?/Problem_?/Makefile

!/code/test_data

!/report
!/results
