/*

!/.gitignore

!/readme.org

# Don't ignore code
!/code
/code/*
!/code/*.docx
!/code/*.py

# Don't ignore project folder
!/code/*_Project_?
/code/*_Project_?/*
!/code/*_Project_?/*.py

# Don't ignore problem folders
!/code/*_Project_?/Problem_?
/code/*_Project_?/Problem_?/*
!/code/*_Project_?/Problem_?/*.c
!/code/*_Project_?/Problem_?/*.sbatch
!/code/*_Project_?/Problem_?/Makefile

# Don't ignore serial folder in certain problem
!/code/*_Project_?/Problem_?/serial
/code/*_Project_?/Problem_?/serial/*
!/code/*_Project_?/Problem_?/serial/*.c
!/code/*_Project_?/Problem_?/serial/Makefile
!/code/*_Project_?/Problem_?/serial/*.sbatch

# Don't ignore test data
!/code/test_data

# Don't ignore report
!/report
/report/*
!/report/*.pdf
!/report/*.org

# Don't ignore results
!/results
